In [ ]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

Python If-Else

In [ ]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
if n % 2 != 0:
    print("Weird")
elif n >= 2 and n <= 5:
    print("Not Weird")
elif n >= 6 and n <= 20:
    print("Weird")
else:
    print("Not Weird")

Arithmetic Operators

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a + b)
    print(a - b)
    print(a * b)

Division

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

Loops

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

Function

In [ ]:
def is_leap(year):
    leap = False
    
     # Check if the year is evenly divisible by 4
    if year % 4 == 0:
        
        # If it is, check if it is also evenly divisible by 100
        if year % 100 == 0:
            
            # If it is, check if it is also evenly divisible by 400
            if year % 400 == 0:
                leap = True
        else:
            leap = True
    
    return leap

Print function

In [ ]:
if __name__ == '__main__':
    n = int(input())
    
     # Initialize an empty string
    result = ""

    # Iterate over the range of integers from 1 to n (inclusive)
    for i in range(1, n+1):
        # Append each integer to the string with no space
        result += str(i)
    
    print(result)